
<div id="proxyact_div">
<p>
    So you want to act as a proxy in this election.<br />
    Please give us some Information about you. 
<p>

<ol>
    <li> <b>Select</b> your preferred options <br />
<span style="font-size: 11pt;">You can easily navigate forwards and backwards.</span></li>
<br />

    <li> <b>Review &amp; Confirm</b> your choices.<br />
<span style="font-size: 11pt;">
  Your choices are encrypted safely inside your browser, and you get a smart ballot tracker.<br />
</span>
</li>
<br />

    <li> <b>Submit</b> your encrypted ballot.<br />
<span style="font-size: 11pt;">
You will be asked to log in to submit your encrypted ballot for tallying.
</span>
</li>
</ol>

<div align="center"><button onclick="BOOTH.show_question(0);">Vote!</button></div>

<b>Or</b> delegate your voting.<br />
<span style="font-size: 11pt;">
You can delegate all your votes for this election
</span>


<div align="center"><button onclick="BOOTH.show_test();">Act as Proxy</button></div>

</div>

